:root {
  --red: #c4c4c4;
  --darkred: #7d7d7d;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #404040;
  --white: #fff;

  --content-width: 40rem;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  hyphens: auto;
  hyphenate-limit-chars: 10 4 4;
  color: var(--darkgray);
  background-color: var(--white);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 1.1875rem;
  overflow-wrap: break-word;
}

header, main, footer {
  max-width: 100vw;
}

header, footer {
  flex: 0 0 auto;
}

main {
  flex: 1 1 auto;
}

footer {
  grid-area: footer;
}

iframe {
  width: 100%;
  border: none;
}

main .h1--post + p::before,
main h1 + p > img,
main h1 + p > picture > img {
  display: block;
  width: 100vw;
  max-width: none;
  height: 40vh;
  margin-left: calc((100vw - 100%) / -2);
  margin-right: calc((100vw - 100%) / -2);
  object-fit: cover;
  object-position: 50% 50%;
}

main .h1--post + p::before {
  content: '';
}

main .h1--post {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  height: 40vh;
  margin: 0;
  margin-right: calc((100vw - 100%) / -2);
  padding: 1rem 0;
  color: #fff;
  font-size: 7vmin;
  text-shadow: 0 0 4px #000;
  text-wrap: balance;

  @supports (paint-order: stroke fill) {
    paint-order: stroke fill;
    -webkit-text-stroke: 1px #000;
    text-stroke: 1px #000;
  }
}

main .h1--inverted {
  color: #000;
  text-shadow: 0 0 4px #fff;

  @supports (paint-order: stroke fill) {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

main .h1--post + p {
  --gradient-color-rgb-list: 72, 31, 7;
  --mix-blend-mode: multiply;
  position: relative;
  margin-top: 0;
}

main .h1--inverted + p {
  --gradient-color-rgb-list: 209, 184, 169;
  --mix-blend-mode: screen;
}

main .h1--post + p::before {
  position: absolute;
  background: linear-gradient(to top, rgba(var(--gradient-color-rgb-list), 1) 0%, rgba(var(--gradient-color-rgb-list), 0.738) 19%, rgba(var(--gradient-color-rgb-list), 0.541) 34%, rgba(var(--gradient-color-rgb-list), 0.382) 47%, rgba(var(--gradient-color-rgb-list), 0.278) 56.5%, rgba(var(--gradient-color-rgb-list), 0.194) 65%, rgba(var(--gradient-color-rgb-list), 0.126) 73%, rgba(var(--gradient-color-rgb-list), 0.075) 80.2%, rgba(var(--gradient-color-rgb-list), 0.042) 86.1%, rgba(var(--gradient-color-rgb-list), 0.021) 91%, rgba(var(--gradient-color-rgb-list), 0.008) 95.2%, rgba(var(--gradient-color-rgb-list), 0.002) 98.2%, transparent 100%);
  box-shadow: inset 0 -0.5vw 0.5vw 0 rgba(var(--gradient-color-rgb-list), 0.25), inset 0 0.5vw 0.5vw 0 rgba(var(--gradient-color-rgb-list), 0.25);
  mix-blend-mode: var(--mix-blend-mode);
  background-image: var(--image);
  background-size: 1px 1px;
  background-repeat: repeat;
  backdrop-filter: blur(3px);
  mask-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
}

.tmpl-about h1 + p > picture > img {
  width: 33vmin;
  height: 33vmin;
  object-fit: cover;
  object-position: center center;
  margin: 0 auto;
  border-radius: 50%;
}

.tmpl-about img[src^="https://"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: none;
}

.tmpl-about li img {
  margin: 0;
}

.video {
  position: relative;
  width: 100%;
  padding-top: calc((9 / 16) * 100%);
}

.video > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

* {
  scrollbar-color: #7f7f7f transparent; /* thumb and track color */
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 7.5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #7f7f7f;
  border-right: 1px solid white;
}

body {
  position: relative;
  max-width: var(--content-width);
  margin: auto;
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li,
img, video {
  max-width: 100%;
  height: auto;
}

img, video {
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
}

p,
.tmpl-post li {
  line-height: 1.35;
}

a[href] {
  color: var(--blue);
}

a[href]:visited {
  color: var(--navy);
}

main {
  padding: 0 1rem 1rem 1rem;
}

main:not(:first-child) :first-child {
  margin-top: 0;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

:is(h1, h2, h3, h4, h5, h6, hgroup) {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

:is(ol, ul, p):not([class]) + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 2rem;
}

p {
  text-size-adjust: from-font;
  text-wrap: pretty;
}

ul {
  padding-left: 1em;
}

a {
  text-decoration-color: dodgerblue;
  text-decoration-width: 2px;
  text-decoration-thickness: 2px;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code,
.speculationrules {
  padding: 0 0.25em;
  background-color: #fff0b2;
  color: #000;
  border-radius: 3px;
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}

code {
  box-shadow: inset 0 0 4px #fabd4d;
  font-size: 0.9em !important;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  text-size-adjust: from-font;
  hyphens: none;
  white-space: nowrap;
  word-break: break-all;
}

pre code {
  box-shadow: none;
}

pre {
  font-size: 1rem !important;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

pre[class*="language"][class*="language"] {
  padding: 0.75em 0.65em;
}

pre code {
  white-space: pre;
  word-break: normal;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: "";
}

/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1.4rem;
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 0;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
  font-size: 0.9em;
}

.postlist-item {
  counter-increment: start-from -1;
  margin-bottom: 1em;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}

.postlist-item-active .postlist-link {
  font-weight: 700;
}

.tmpl-home .postlist-link {
  display: inline;
  padding: 0;
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.tag:not(.token) {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}

a[href].tag,
a[href].tag:visited {
  color: #fff;
}

.info {
  background-color: #b8dbff;
  padding: 0.75em 0.625em; /* 12px 10px /16 */
  border-radius: 3px;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 0.75em 0.625em; /* 12px 10px /16 */
  border-radius: 3px;
}

.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

.me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 1em;
  border-top: 2px solid #333;
}

.me li {
  display: flex;
  align-items: center;
  padding-right: 1em;
}

.me a {
  display: flex;
  align-items: center;
}

.me svg {
  width: 1.5rem;
  height: auto;
}

.webmentions {
  margin-top: 3rem;
}

twitter-widget {
  margin-left: auto;
  margin-right: auto;
}

li {
  margin-bottom: 0.4em;
}

li img {
  margin: 0.5em 0 1em 0;
}

blockquote {
  position: relative;
  margin: 2em 0;
  padding: 0 2em 0 2.5em;
  color: #444;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-size: 0.9em;
  line-height: 1.2;
  quotes: "“" "”" "‘" "’";
}

blockquote::before,
blockquote::after {
  position: absolute;
  font-size: 300%;
}

blockquote::before {
  content: open-quote;
  top: -0.1em;
  left: 0;
}

blockquote::after {
  content: close-quote;
  right: 0;
  bottom: -0.6em;
}

.multicolumn {
  padding: 0.5rem;
  column-width: 10rem;
  column-gap: 0.1rem;
  background-color: #f3f3f3;
  font-size: 0.8em;
}

.multicolumn ul {
  margin: 0 1rem;
  padding: 0;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.side-by-side > * {
  flex: 1 1 auto;
}

.side-by-side > pre {
  flex: 1 0 auto;
}

figure {

}

figcaption {
  font-size: 0.7em;
}

.cp_embed_wrapper {
  width: min(80rem, 100vw);
  margin-block: 3rem;
  margin-inline: calc((min(80rem, 100vw) - 100%) / -2);
}

hgroup {
  margin-bottom:
}

hgroup p {
  margin-top: -0.5em;
}

button {
  font-size: inherit;
}

.incorrect {
  color: red;
}

img[src*="sky-follower-bridge-icon.png"] {
  display: inline-block;
  width: 1.5rem;
  height: auto;
  margin: 0;
  vertical-align: middle;
}

