---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1 class="h1--post">{{ title }}</h1>

<img role="presentation" src="{{ image }}" loading="eager" fetchpriority="high" alt="">

{{ content | replace({'<img': '<img loading="lazy"'}) | safe }}

{% include "webmentionlist.njk" %}

<p><a href="{{ '/' | url }}">← Home</a></p>
