---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1 class="h1--post{% if titleInverted %} h1--inverted{% endif %}">{{ title }}</h1>

<p style="--image: url({{ image }})">
  {% image image %}
</p>

{{ content | replace('<img', '<img loading="lazy"') | safe }}

{% include "webmentionlist.njk" %}

<p><a href="{{ '/' | url }}">← Home</a></p>
